body {
    background-color: rgb(26, 26, 26);
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(199, 199, 199);
}

a:hover {
    color: white;
    cursor: pointer;
}

header {
    z-index: 100;
    background-color: rgb(42, 42, 42);
    width: 100%;
    padding: 0 24px;
    position: fixed;

    height: 3.6em;

    /* dùng để bố trí theo hàng ngang + bố cục riêng */
    display: flex;
    /* dùng để bố cục trung tâm 
    - vì đang là flex ngang
     nên align-items cho padding top và padding bot bằng nhau */
    align-items: center;
}

#searchInput {
    height: 2em;
    width: 12em;
    border-radius: 0.8em;
    font-size: 1em;
    padding-left: 2.2em;
    border: none;
    background: rgb(212, 212, 212);
    background-image: url("/photos/search-3076.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s ease;
}

#searchInput:focus {
    background-color: white;
    transition: 0.2s ease;
    width: 22em;
}

#btnGetItNow {
    background: url("/svg/HILLBLU_button_background.svg") no-repeat;
    width: 7em;
    height: 2.8em;
    background-position: center;
    background-size: contain;
    border: none;
    color: white;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: black 2px -2px 6px;
    font-size: 0.8em;
}

#btnGetItNow:hover {
    text-decoration: underline;
    text-shadow: black 4px 0px 10px;
    font-size: 0.9em;
}

#sidebar {
    padding-top: 4em;
    background-color: rgb(51, 51, 51);
    width: 12em;
    height: 100%;
    position: fixed;
    left: 0px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav * {
    text-align: center;
    padding: 1em;
}

nav *:hover {
    background-color: cornflowerblue;
    transition: 0.1s ease;
}

#mainContent {
    padding-top: 3.6em;
    margin-left: 13em;
}


.glider-contain {
    width: 70%;
}

.glider div img {
    max-height: 600px;
    width: max-content;
}

.glider div {
    text-align: center;
}

button.glider-next,
button.glider-prev {
    margin: 1.2em;
    text-shadow: black 2px 0px 3px;
    color: white;
    font-size: 3.5em;
}

#dots {
    position: absolute;
    left: 50%;
    bottom: 5%;
}


#flexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em 3em;
}

.flexItem img {
    height: 12em;
}

.flexItem {
    text-align: center;
    border: solid 2px rgb(48, 55, 62);
    padding: .5em;
    border-radius: .8em;

}

.flexItem img:hover {
    transform: scale(1.1, 1.07);
    border-radius: 5px;
}

.flexItem:hover {
    border-color: aqua;
    transform: scale(1.1, 1.1);
    transition: .2s ease;

}